#menu {
    float: left;  
    width: 160px;
    
    background-color: #FFFFFF;
}
#content {
    float: left;
    margin-left: 6px;
    
    background-color: #FFFFFF;
}

div.date {
    background-color: #CCCCCC;
    margin-left: 2px;
    margin-right: 2px;
    padding-left: 3px;
}

tr.header {
    background-color: #1E90FF;
    color: #FFFFFF;
}
td.scoreboard1 {
    width: 32px;
}
td.scoreboard2 {
    width: 160px;
}
td.scoreboard3 {
    width: 32px;
}
td.game1 {
    width: 64px;
}
td.game2 {
    width: 160px;
}
td.game3 {
    width: 160px;
}
td.game4 {
    width: 64px;
}
td.game5 {
    width: 64px;
}
td.game6 {
    width: 64px;    
}