#menu {
    float: left;  
    width: 160px;
    
    background-color: #FFFFFF;
}
#content {
    float: left;
    margin-left: 6px;
    
    background-color: #FFFFFF;
}

tr.header {
    background-color: #1E90FF;
    color: #FFFFFF;
}
td.scoreboard1 {
    width: 32px;
}
td.scoreboard2 {
    width: 160px;
}
td.scoreboard3 {
    width: 32px;
}
td.upcoming1 {
    width: 64px;
}
td.upcoming2 {
    width: 160px;
}
td.upcoming3 {
    width: 160px;
}
td.upcoming4 {
    width: 64px;
}